<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215139612886-70j8sd40ilnemimbp2618641k6rc3khq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215139612886-70j8sd40ilnemimbp2618641k6rc3khq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215139612886-e115o95sosutt0nb095ekhvteh091hqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyYTel20HTnSm5tMkGgDTzh78tNEelB5k</string>
	<key>GCM_SENDER_ID</key>
	<string>215139612886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.devMiyax.yabasanshiro2</string>
	<key>PROJECT_ID</key>
	<string>uoyabause-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>uoyabause-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215139612886:ios:e0fb894f62a792ef843177</string>
	<key>DATABASE_URL</key>
	<string>https://uoyabause-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>