{
  "is first time": true,
  "Full screen": true,
  "Show Fps": false,
  "Aspect rate": 0,
  "External cart": 7,
  "Resolution": 0,
  "Rotate screen": false,
  "Rotate screen resolution": 0,
  "Use compute shader": true,
  "bios file": "bios.bin",
  "frame skip": false,
  "game directories": [
    "games"
  ],
  "last play game path": "",
  "sound sync count per a frame": 4,
  "sound sync mode": "cpu",
  "speed": 0
}